/* Footer Styles */
.footer {
    display: flex;
    background-color: #333;
    color: white;
    justify-content: center;
    padding: 1em;
    bottom: 0;
    width: auto;
    height: 60px; /* Ensure consistent height */
    line-height: 60px; /* Center text vertically */
}
