.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../Images/Tło.jpg'); /* Przy założeniu, że masz takie tło */
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.home-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 2em;
    overflow: hidden;
}


.home-content h1 {
    color: white;
}